/* ==================== CUSTOM FONT ==================== */
@font-face {
    font-family: "Gastromond Regular";
    src: url("./assets/fonts/gastromond/Gastromond-Regular.ttf") format("ttf");
    src: url("./assets/fonts/gastromond/Gastromond-Regular.woff2") format("woff2"),
    url("./assets/fonts/gastromond/gastromondtest-regular.otf") format("otf");
    }


/* ==================== VARIABLES ==================== */
:root {
    /* COLORS */
    --color-dark: #524C4A;
    --color-light: #ffffff;
    --color-primary: #4B787A;
    --color-primary-light: #BFD9CC;
    --color-gray-faded: #F5F4ED;
    --color-orange-light: #D19A77;

    /* FONTS */
    --font-opensans: 'Open Sans', sans-serif;
     --font-gastromond-regular: 'Gastromond Regular', 'sans-serif';
}

/* ==================== GLOBALS ==================== */
* {
    font-family: var(--font-opensans);
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}



/* ==================== HEADER ====================  */
.header {
    background-color: var(--color-gray-faded);
}

.header__title {
    font-size: 35px;
    line-height: 49px;
    color: var(--color-orange-light);
    font-family: var( --font-gastromond-regular);
    text-transform: uppercase;
}


.header__links {
    gap: 20px;
}

.header__links>li>a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
}



/* ==================== HERO ====================  */